@keyframes quiet {
  25% {
    transform: scaleY(0.6);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(0.8);
  }
}

@keyframes normal {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.6);
  }

  75% {
    transform: scaleY(0.8);
  }
}

@keyframes loud {
  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.4);
  }

  75% {
    transform: scaleY(1.4);
  }
}

.audio-recorder {
  .recorder {
    .timer {
      margin-left: 10px;
      font-size: 18px;
      text-align: center;
      font-weight: 600;
    }
    .microphone {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .waves {
        z-index: 0;
        position: absolute;
        height: 50px;
        background-image: url("/static/sound-wave.gif");
        background-size: contain;
        background-position: center;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
      }
      .start-btn {
        z-index: 1;
        height: 55px;
        font-size: 55px;
        line-height: 55px;
        padding: 0;
        color: var(--colorPrimary);
        border: none;
        box-shadow: none;
        opacity: 1;
      }
    }
    .mic-txt {
      text-align: center;
      font-size: 11px;
      color: var(--colorLightGrey);
    }
    .btn-grps {
      display: flex;
      justify-content: center;
      .ant-btn {
        border: none;
        font-size: 14px;
        color: var(--colorPrimary);
        display: inline-flex;
        align-items: center;
        svg {
          font-size: 32px;
        }
      }
    }
  }
}
